footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fc6111;
  position: fixed;
  bottom: -.5rem;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1rem;
}

footer a img {
  height: 1.5rem;
}

footer a img:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 600px) {
  footer {
  padding: .5rem;
}

  footer a img {
  height: 2rem;
}
}