.recipe-card {
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
  box-shadow:0 0 10px 1px #00000045;
}

.recipe-card img {
  max-width: 15rem;
}

.recipe-card h3 {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #00000071;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.recipe-card:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .recipe-card {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
  }
  
  .recipe-card img {
    max-width: 100%;
  }

  .recipe-card h3 {
    display: flex;
    align-items: center;
    top: 0;
    height: 30%;
    font-size: 2rem;
    padding-left: 2rem;
  }
}
