.start-recipe {
  background-color: rgb(119, 206, 119);
  border-radius: 8px;
  bottom: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 80px;
  left: 45%;
  position: fixed;
  width: 160px;
  z-index: 10;
}
